.options {
  background-color: #e7f5ff;
  display: flex;
  justify-content: center;
  padding: 9.6rem;
}

.options__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}

.option {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 9px;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.075);
  padding: 2.4rem;
  cursor: pointer;
}

.option:nth-child(1) {
  grid-column: 1 / span 2;
}

.option:nth-child(2) {
  grid-column: 3 / span 2;
}

.option:nth-child(3) {
  grid-column: 5 / span 2;
}

.option:nth-child(4) {
  grid-column: 1 / span 3;
}

.option:nth-child(5) {
  grid-column: 4 / span 3;
}

.option__icon {
  font-size: 8rem;
  color: #a5d8ff;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}

.option__description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.option:hover {
  transform: translateY(-2rem);
}

.option:hover .option__icon {
  color: #f08933;
}
