/************************/
/* REACTION TIME SECTION */
/************************/
.main__section .reaction-time__screen {
  font-size: 6.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reaction-time__screen.reaction-time__screen--waiting {
  background-color: #e03131;
}

.reaction-time__screen.reaction-time__screen--active {
  background-color: #2f9e44;
  cursor: pointer;
}
