/************************/
/* DESIGN SYSTEM        */
/* MAIN COLOR: #339af0  */
/* COMPLEMENTARY MAIN COLOR: #F08933 */
/************************/

/************************/
/* GLOBAL RESET        */
/************************/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/************************/
/* HEADINGS    */
/************************/
.heading-primary {
  font-size: 6.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

/************************/
/* BUTTONS    */
/************************/
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 11px;

  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

.btn--full,
.btn--full:link,
.btn--full:visited {
  position: relative;
  background-color: #f08933;
  z-index: 2;
}

.btn--full::after {
  content: "";
  display: inline-block;
  border-radius: 11px;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transform: scale(0);
  transition: all 0.5s;

  z-index: -1;
}

.btn--full:hover::after {
  transform-origin: center;
  transform: scale(1);
  background-color: #fff;
}

.btn--full:hover {
  color: #000;
  transform: translateY(-1.6rem);
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
}

.btn--full:active {
  transform: translateY(-0.6rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/************************/
/* ANIMATIONS   */
/************************/
@keyframes fade-in-and-out {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/************************/
/* MAIN SECTION      */
/************************/
.main {
  background-color: #339af0;
  color: #fff;
  text-align: center;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  transition: all 0.3s;
  transform: translateY(2rem);
  opacity: 0;
}

.main__section.main__section--active {
  height: 62vh;
  transform: translateY(0rem);
  opacity: 1;
}

.main__icon {
  font-size: 12rem;
  margin-bottom: 3.6rem;
  animation: fade-in-and-out 1.5s infinite;
}

.main__text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.main__text {
  text-align: center;
}

.main__button {
  align-self: center;
}

.main__description {
  font-size: 2.4rem;
  font-weight: 400;
}

/************************/
/* HERO SECTION      */
/************************/

/************************/
/* REACTION TIME SECTION */
/************************/
.main__section .reaction-time__screen {
  font-size: 6.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reaction-time__screen.reaction-time__screen--waiting {
  background-color: #e03131;
}

.reaction-time__screen.reaction-time__screen--active {
  background-color: #2f9e44;
  cursor: pointer;
}

/************************/
/* OPTIONS SECTION      */
/************************/
.options {
  background-color: #e7f5ff;
  display: flex;
  justify-content: center;
  padding: 9.6rem;
}

.options__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}

.option {
  /* width: 35rem;
  height: 35rem; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 9px;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.075);
  padding: 2.4rem;
  cursor: pointer;
}

.option:nth-child(1) {
  grid-column: 1 / span 2;
}

.option:nth-child(2) {
  grid-column: 3 / span 2;
}

.option:nth-child(3) {
  grid-column: 5 / span 2;
}

.option:nth-child(4) {
  grid-column: 1 / span 3;
}

.option:nth-child(5) {
  grid-column: 4 / span 3;
}

.option__icon {
  font-size: 8rem;
  color: #a5d8ff;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}

.option__description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.option:hover {
  transform: translateY(-2rem);
}

.option:hover .option__icon {
  color: #f08933;
}
